*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
table, th, td {
    border: 1px solid black;
}
td {
    padding: 5px;
    text-align: left;    
}
th{
    padding: 5px;
    text-align: center;
}
.year-grid {
    display: grid;
    width: auto;
    grid-gap: 4px;
    border: 2px solid black;
    padding: 13px 0px;
    margin-top:50px;
    margin-bottom: 90px;    
}
tr{
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

a{
    color: blue;
    text-decoration: underline;
}

.year-grid > div {
    
    text-align: center;
    grid-row: 1;
    border: 1px solid black;
    font-size: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.year-grid div{
    border-radius: 12px;
}
